{% extends 'bootstrap/base.html' %}
{% block title %}Книги{% endblock %}
{% block content %}
<div class="news--block">
    <h1>Название книги</h1>
    <a href="" class="btn btn-md btn-default">Ссылка на скачивание</a>
    <h1>Серия книг - Война и мы. Авиаколлекция [77 книг] (2007-2015)</h1>
    <a href="https://disk.yandex.ru/d/CIgK89iFTon5RQ" class="btn btn-md btn-default">Ссылка на скачивание</a>
    <h1>Растренин О.В. Штурмовик Ил-2. "Летающий танк". "Черная смерть" (2008)</h1>
    <a href="https://vk.com/doc247409661_672648158?hash=XSmzDazshDNgZ2aai518UvbE1Etnvis2AOCEtaFJ5Qo&dl=T21hACz3s4hP2GEVfvTwL3SmVfjAK2dXQX6tGPJlCfs" class="btn btn-md btn-default">Ссылка на скачивание</a>
    <h1>Лейпник Д.Л. Як-9: Рядовые небес (2000)</h1>
    <a href="https://vk.com/doc247409661_672612300?hash=NWvbz5J59W72LbUod8AoLqGamZRdLdKnNU1iNAFQVkg&dl=5V8yVRou2Re8bQB3N86roSu7VnNIdwPEBdIVqAwyBIL" class="btn btn-md btn-default">Ссылка на скачивание</a>
    <h1>В. и А. Михеевы, А. Жирнов Сикорский C-16. Русский скаут (1994)</h1>
    <a href="https://vk.com/doc247409661_672386024?hash=5OLW1zWnqvEZxjr1dgp5ZTraEVgNxEwzD5L7vbkdMLc&dl=L0xhzMacXy4Yzmd4pq8VTAUvRAluoT514bOxpvux5xo" class="btn btn-md btn-default">Ссылка на скачивание</a>
    <h1>Козырев Михаил, Козырев Вячеслав Авиация Красной армии (2011)</h1>
    <a href="https://vk.com/doc247409661_672109873?hash=DEqgXMb9aLQ07WGABWjBTVdb0RI1ZUzB5GdDTpwyqb0&dl=5Sx1sn6JLFIvddc6b8LcWoKlmUy0CQydkJoRAUJw6s0" class="btn btn-md btn-default">Ссылка на скачивание</a>
    <h1>Маслов Михаил Истребитель И-153 «Чайка» (2005)</h1>
    <a href="https://vk.com/doc247409661_672037103?hash=z49SeFJyz5XuMkjFL4nZwk6pTWbezJJVKisdl4Nig98&dl=BKYQJRAqlTivBoirWQf48ZZkRQ4JVyUANkpAFuvQP0P" class="btn btn-md btn-default">Ссылка на скачивание</a>
    <h1>Ю.А.Егоров Самолеты ОКБ С.В. Ильюшина (2003)</h1>
    <a href="https://vk.com/doc247409661_670886178?hash=d8zzT9wU0kAA59y1JtQmhIP75TS7BAhSLFdCJ7JM2OT&dl=h98UML42EG5rEv4Nxe5QDLZA1m9GjzKoprmfojLBxeo" class="btn btn-md btn-default">Ссылка на скачивание</a>
</div>
{% endblock %}
