{% extends 'bootstrap/base.html' %}
{% block title %}Новости{% endblock %}
{% block content %}
<div class="news--block">
    <h1>МОСКОВСКИЕ КАНИКУЛЫ!</h1>
    <p>Весенние каникулы курсанты ЮнАЭ провели в поисках новых знаний, эмоций, в знакомстве с красотами нашей столицы - Москвы!
        Основной задачей поездки был комплекс профориентационных мероприятий.
        Все ли нам удалось? Посмотрим по количеству отзывов и просмотров новостей ЮнАЭ!</p>
    <p>21:50 01.04.2024</p>
    <h1>МОСКОВСКИЕ КАНИКУЛЫ - МАИ.</h1>
    <p>"Московский авиационный институт (национальный исследовательский университет)" - Российское высшее учебное заведение, одно из ведущих в сфере авиации и космонавтики. МАИ основан 20 марта 1930 года.
        Одного дня на посещение МАИ оказалось мало для ознакомления с этим "городом авиации".
        Но четко организованная экскурсия, с которой нам помог Анатолий Михайлович Качалин, директор РЦ НИИТ, помогла нам успеть узнать очень многое об авиационном вооружении, ракетных и реактивных двигателях,
        о беспилотниках и о условиях поступления в МАИ.</p>
    <img src="static/img/mai1.jpg" class="d-inline-block align-top">
    <img src="static/img/mai2.jpg" class="d-inline-block align-top">
    <p>21:33 01.04.2024</p>
    <h1>МОСКОВСКИЕ КАНИКУЛЫ - ЦАГИ.</h1>
    <p>Центральный аэрогидродинамический институт имени профессора Н. Е. Жуковского.
        Научные заслуги коллектива ЦАГИ несомненны, и давно уже имена многих его сотрудников вписаны золотыми буквами в историю мировой авиации.
        Мы посетили "Демонстрационный центр ЦАГИ", где узнали очень много интересного из истории авиации, становления и развития авиационной науки.
        Экспонаты центра и интересный рассказ экскурсовода помогли раскрыть многообразие задач, решаемых ЦАГИ.</p>
    <img src="static/img/cagi.jpg" class="d-inline-block align-top">
    <p>20:53 01.04.2024</p>
    <h1>МОСКОВСКИЕ КАНИКУЛЫ - ЛИиДК Яковлева.</h1>
    <p>Летно-испытательный и доводочный комплекс в г. Жуковский.
        Тут наши курсанты более двух часов обследовали МС-21 в нескольких модификациях в сопровождении Героя Российской Федерации, летчика-испытателя Олега Евгеньевича Мутовина.
        МС-21 – самолет с большим количеством новых перспективных систем и конструкторских решений. Многое ребята узнали и смогли в деталях рассмотреть! Это мероприятие бесспорно на 1000 лайков!</p>
    <img src="static/img/liikd.jpg" class="d-inline-block align-top">
    <p>15:18 01.04.2024</p>
    <h1>МОСКОВСКИЕ КАНИКУЛЫ - МГТУ ГА.</h1>
    <p>«Московский государственный технический университет гражданской авиации» (МГТУ ГА) - это место, где готовят авиационных инженеров.
    Как их готовят, по каким направлениям, кто прославил свое учебное заведение - это и многое другое наши юнармейские авиаторы узнали, посетив МГТУ ГА!
    Очень радушный прием и вкусный обед нам предоставили начальник отдела профориентации и развития карьеры Елена Анатольевна Чхеидзе и работники университета. Спасибо!</p>
    <img src="static/img/mgtuga.jpg" class="d-inline-block align-top">
    <p>14:45 01.04.2024</p>
    <h1>МОСКОВСКИЕ КАНИКУЛЫ - ПАО "ЯКОВЛЕВ". ОКБ</h1>
    <p>«Яковлев» – системообразующее предприятие Дивизиона гражданской авиации Объединенной авиастроительной корпорации.
        Знакомство с компанией началось с мемориального кабинета Александра Сергеевича Яковлева.
        Работа конструкторского бюро, этапы появления нового воздушного судна, музей авиакомпании, полет на МС-21 - все это нам показали и рассказали доброжелательные сотрудники ПАО "Яковлев".
        Огромное им спасибо!</p>
    <img src="static/img/yak.jpg" class="d-inline-block align-top">
    <p>14:44 01.04.2024</p>
</div>
{% endblock %}
