{% extends 'bootstrap/base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h1 class="text-center">Регистрация</h1>
          </div>
          <div class="card-body">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-danger">
                  <ul>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            {% endwith %}
            <form method="post">
              <div class="mb-3">
                <label for="username" class="form-label">Логин:</label>
                <input type="text" class="form-control" id="username" name="username" required>
              </div>
              <div class="mb-3">
                <label for="password1" class="form-label">Пароль:</label>
                <input type="password" class="form-control" id="password1" name="password1" required>
              </div>
              <div class="mb-3">
                <label for="password2" class="form-label">Повтор пароля:</label>
                <input type="password" class="form-control" id="password2" name="password2" required>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
              </div>
              <a href="http://127.0.0.1:5000/login" class="btn btn-md btn-default">Уже есть аккаунт? Войти</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<div class="jumbotron text-center">
  <h1>{{h1}}</h1>
</div>